<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=2de90d92-9b62-4411-9a90-45454ab2e873&lang=ru_RU"
        type="text/javascript"></script>
</head>
<body>
    <div id="map" class="map"></div>
</body>
</html>